@import '../main.scss';

html,body{
    overflow: hidden; 
  }

.works{
    font-family: $muliFont;
    font-weight: 400;
    font-style: normal;
    background-color: red;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    "empty link link menu"
    "empty navbar cover anth"
    ;

    .navbar{
        grid-area: navbar;
        height: 124vh;
        overflow-y: scroll;
        a{
            line-height: 1.2;
            display: block; 
        }
        .linkName{
            font-size: 8em;
            font-weight: 900;
            color:red;
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
            width: 100%;
            display: block;
            text-align: end;
        }

        .linkey{
            color:white;
            font-size: 1em;
            font-weight: 200;
  
        }

    }
    .navbar::-webkit-scrollbar {
        display: none;
    }
    .menu{
        grid-area: menu;
        align-self: end;
        color: white;
        background-color: red;
        text-decoration: none;
        font-size: 1.2em;
       
        font-weight: 200;
    }

}
